.calendar-page {
    height: calc(100vh - 48px);
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 250px;
    }

    &__main {
        display: grid;
        grid-template-columns: 1fr 300px;
    }
    &__create-block {
        padding: 0 10px;
    }
}
