// colors
:root {
  --main-bg-color: brown;
}

$grey_100: '#333238';
$grey_200: '#29282d';
$grey_300: '#434248';

$white_100: '#ffffff';

$green_100: '#156b39';

$blue_100: '#1f75cb';

// Text
$letter-spacing: 0.15px;
$border-radius: 8px;
